- var average = review.average

div.post
  div.title
    h2 Service: #{review.service}
    h2 Title: #{review.title}
    h2 Average Rating:
    if average == 5
      p.stars ★★★★★
    if average == 4
      p.stars ★★★★
    if average == 3
      p.stars ★★★
    if average == 2
      p.stars ★★
    if average == 1
      p.stars ★
    h2(id="postReviewHeading") Review
    p(id="postReviewText") #{review.text}
    button.vote-post-button(type="submit" class="btn" id="postVoteButton" onClick='voteFormHandler(' + review.id + ')') Vote
    a(href='top-rated/view/' + review.id)
      button.btn View full post
    p(class="post-text-results") Votes: #{review.upVotes}
    p(class="post-text-results") Comments: #{review.comments}

script(src="/javascript/vote.js")
    